<% @micropost_settings = { col_grid: 12, img_size: 400, display_username: true } %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>