<% provide(:title, "利用規約") %>
<h1>利用規約</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>ポテパンキャンプ関係者のみご利用頂けます</h3>
    <h3>公序良俗に反する内容の投稿は禁止します</h3>
    <%= link_to "Back", :back %>
  </div>
</div>
