<% unless @user && @user == current_user %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  </div>
<% else %>
  <%= link_to "プロフィール編集", edit_user_registration_path, class: "btn btn-primary btn-width-fit" %>
<% end %>