<ul>
  <li><%= link_to "Instagram", root_path %></li>
  <% if user_signed_in? %>
    <li><%= link_to "My page", user_path(current_user) %></li>
    <li><%= link_to "プロフィール編集", edit_user_registration_path %></li>
  <% end %>
</ul>
