<div id="favorite_form">
  <% if current_user.is_favorite?(micropost) %>
    <%= render 'microposts/remove_favorite', micropost:micropost %>
  <% else %>
    <%= render 'microposts/add_favorite',    micropost:micropost %>
  <% end %>
  <p><%= micropost.favorites.count %></p>
</div>