<% provide(:title, "写真投稿") %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <section class="micropost_form">
        <%= render 'micropost_form' %>
      </section>
    </div>
  </div>
</div>
