@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.header-search {
  margin-bottom: auto;
}

.header-user {
  span {
    position: relative;
    display: block;
    padding: 8px 15px;
    color: white;
    font-size: 1.5em;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-right: 10px;
    }
  }
  .navbar-right {
    margin-right: 100px;
  }
}
@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin: 10px;
  height: 120px;
  a {
    display: inline-block;
    margin-top: 90px;
    font-size: 1em;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user-page-micropost {
    border-top: none;
  }
  img {
    width: 100%;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 20px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    margin-left: 10px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.micropost-info {
  text-align: right;
  margin-right: 1em;
}

.comments {
  height: 400px;
  overflow-y: scroll;
  ol {
    list-style: none;
    padding-left: 0;
  }
  li {
    border-top: 0;
    border-bottom: 1px solid #eaeaea;
  }
  p {
    margin: 0;
  }
}
.comments::-webkit-scrollbar {
  display: none;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.btn-width-fit {
  width: 100%;
}

#user_remember_me {
  margin-left: 0;
  width: auto;
}

.user-info-box {
  margin-bottom: 3em;
  h1 {
    text-align: left;
    margin-bottom: 0.2em;
  }
  img {
    margin-right: 3em;
  }
}

.login-form {
  border: 1px solid $gray-lighter;
  padding: 1em 2em;
  margin: 1em 3em 0 3em;
  p {
    text-align: center;
    margin-bottom: 0;
  }
}

.welcome-img img {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width:1000px) { 
  .welcome-img { display:none; }
}

.devide {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  div {
    width: 33%;
  }
  .line{
    background-color: rgb(192, 192, 192);
  }
}

#favorite_form {
  float: right;
  .btn {
    font-size: 1.5em;
    color: gold;
    background-color: unset;
    display: inline-block;
    padding: 0 0 5px 0;
    width: auto;
  }
  p {
    font-size: 1.5em;
    margin-bottom: 0;
    display: inline-block;
  }
  form {
    display: inline-block;
  }
}

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1100;
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #e6ecf0;
  padding: 20px 0;
  border-radius: 10px;
  text-align: center;
  display: block;
  .comments {
    height: 100px;
    p {
      margin: 0 10px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-align: left;
    }
  }
}

.invisible-comment {
  display: none;
}

.notifications {
  li {
    color: #404040;
    border-bottom: solid 2px #dadada;
    background: whitesmoke;
    margin-bottom: 5px;
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none;
    font-weight: bold;
  }
  .favorite {
    border-left: solid 6px #eb85c0;
  }
  .comment {
    border-left: solid 6px #f5cf52;
  }
  p {
    margin-bottom: auto;
  }
  .timestamp {
    text-align: right;
    a {
      margin-left: 0.5em;
    }
  }
}