<footer class="navbar navbar-inverse">
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "写真投稿", new_micropost_path %></li>
    <li><%= link_to "利用規約", terms_path %></li>
    <li><%= link_to "プライバシーポリシー", policy_path %></li>
  </ul>
</footer>